<!DOCTYPE HTML>

<html>
<head>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <link rel="stylesheet" href="/stylesheets/salereport.css">

</head>

<body class="home">
<div class="container-fluid display-table">
    <div class="row display-table-row">
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
            <div class="logo">
                <a href="/"><img src="http://www.havelogo.com/50/L-58987-1347025499-e6b83608a9c89223c0da18f46771c597.png" alt="merkery_logo" class="hidden-xs hidden-sm" style="width: 40%; height: 40%" >
                    <img src="" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                </a>
            </div>
            <div class="navi">
                <ul>
                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i><span
                                    class="hidden-xs hidden-sm">首頁</span></a></li>
                    <li><a href="/inventory"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">存貨管理</span></a>
                    </li>
                    <li><a href="/salereport"><i class="fa fa-bar-chart" aria-hidden="true"></i><span
                                    class="hidden-xs hidden-sm">銷售報表</span></a>
                    </li>
                    <li><a href="/member"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">會員管理</span></a>
                    </li>
                    <li class=" active"><a href="/purchase"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">銷量預測</span></a>
                    </li>
                    <li><a href="/info"><i class="fa fa-info-circle" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Info</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 col-sm-11 display-table-cell v-align">
            <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
            <div class="row">
                <header>
                    <div class="col-md-7">
                        <nav class="navbar-default pull-left">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas"
                                        data-target="#side-menu" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                        </nav>

                    </div>
                    <div class="col-md-5">
                        <div class="header-rightside">
                            <ul class="list-inline header-top pull-right">
                                <li class="hidden-xs"><a href="#" class="add-project" data-toggle="modal"
                                                         data-target="#add_project">會員購買</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="http://www.havelogo.com/50/L-58987-1347025499-e6b83608a9c89223c0da18f46771c597.png" alt="user">
                                        <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="navbar-content">
                                                <span>JS Krishna</span>
                                                <p class="text-muted small">
                                                    me@jskrishna.com
                                                </p>
                                                <div class="divider">
                                                </div>
                                                <a href="#" class="view btn-sm active">View Profile</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
                <div class="user-dashboard">
                    <h1>預測呈現</h1>
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12 gutter">

                            <div class="sales">
                                <h2>查看排行榜</h2>

                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        請選擇欲查看項目
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="/rank_one">人生不容易，是時候該放棄</a>
                                        <a href="/rank_two">coding海無涯，回頭是岸</a>
                                        <a href="/rank_three">邁向成功的秘訣</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><font size="6">排行三：邁向成功的秘訣</font>
                    </div>
                    <!--排行榜分頁用-->
                    <img src="../images/排行三天真預測.jpg"><img src="../images/排行三平均預測.jpg">
                </div>
            </div>
            <!--<script src="/javascripts/form.js"></script>-->
        </div>
    </div>

</div>


</div>


<!-- Modal -->
<div id="add_project" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header login-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">會員購書</h4>
            </div>
            <form action="/purchase" method="post">
                <div class="modal-body">
                    <input type="text" placeholder="會員名" name="member_name">
                    <input type="text" placeholder="總金額" name="cost">
                    <input type="text" placeholder="分店名" name="storeID">
                    <textarea placeholder="備註"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">取消</button>
                    <input type="submit" class="add-project" value="確認">
                </div>
            </form>
        </div>

    </div>
</div>
<script src="/javascripts/member.js"></script>


</body>
</html>